configuration {
    modi: "drun,run,window";
    show-icons: true;

    font: "UbuntuMono Nerd Font Mono 11.5";

    icon-theme: "Papirus";

    display-drun: " Apps";
    display-run: " Run";
    display-window: " Windows";

    drun-display-format: "{name}";
}

//@theme "~/.config/rofi/themes/brotech-tn.rasi"

@theme "/home/sans1/.config/rofi/themes/brotech.rasi"
